<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django | {% block title %}Week 1{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100">

  <nav class="bg-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">

        <a href="/" class="text-xl font-bold text-gray-800 ">Week 1</a>


        <div class="space-x-6">
          <a href="{% url "home" %}" class="text-gray-700 hover:text-blue-500">Home</a>
          <a href="{% url "about"%}" class="text-gray-700 hover:text-blue-500">About</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="p-6">
    {% block content %}{% endblock content %}
  </main>

</body>
</html>